@model NJCCEvents.Models.EventDocument


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>

        <div>
            @*@Html.ActionLink("Back to List", "Index", "Home")*@

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">*@
            <input type="submit" value="Save Contact" class="btn btn-primary" />
            @*<button class="btn btn-primary">Submit</button>
                <button class="btn btn-danger"><i class="icon-trash icon-white"></i>Cancel</button><br />*@

            @*</div>
                </div>*@

        </div>
    </p>



    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.StartDateTime);
    @Html.HiddenFor(model => model.EndDateTime);
    @Html.HiddenFor(model => model.DocumentDateCreated)
    @Html.HiddenFor(model => model.DocumentDateModified)
    @Html.HiddenFor(model => model.DocumentModifiedBy)
    @Html.HiddenFor(model => model.DocumentCreatedBy)
    


    @*<table border="0" style="float:left">
        <tr>
            <td class="auto-style17">*@
    <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; float: left; font-size: 10pt; background-color: whitesmoke; width: auto; height: 100%; ">
        <tr style="background-color: threeddarkshadow; color: white;"><th align="center" class="auto-style19"><b>Event Date and Duration</b></th></tr>
        <tr>
            <td class="auto-style12">
                <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" nowrap class="auto-style5">
                            @Html.DisplayNameFor(model => model.StartDateTime):
                        </td>

                        <td align="left">
                            @Html.ShortDate(Model.StartDateTime, "StartDate", true)
                            @*@Html.ValidationMessageFor(model => model.StartDateTime)*@
                        </td>
                    </tr>
                </table>
                <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" nowrap class="auto-style5">
                            @Html.DisplayNameFor(model => model.EndDateTime):
                        </td>

                        <td align="left">
                            @Html.ShortDate(Model.EndDateTime, "EndDate", true)
                            @*@Html.ValidationMessageFor(model => model.EndDateTime)*@
                        </td>
                    </tr>

                </table>
                <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" nowrap class="auto-style5">
                            Start Time:
                        </td>

                        <td align="left">
                            @Html.ShortTime(Model.StartDateTime, "StartTime", true)

                        </td>
                    </tr>

                </table>
                <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" nowrap class="auto-style5">
                            End Time:
                        </td>

                        <td align="left">
                            @Html.ShortTime(Model.EndDateTime, "EndTime", true)

                        </td>
                    </tr>

                </table>

            </td>

        </tr>

    </table>
            @*</td>
        </tr>
    </table>*@


    @*<table border="0" style="float:right">
        <tr>*@
            <td class="auto-style17">
                <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; float: right; font-size: 10pt; background-color: whitesmoke; width: auto; height: 100%; ">
                    <tr style="background-color: threeddarkshadow; color: white; "><th align="center" class="auto-style19"><b>Summary</b></th></tr>
                    <tr>
                        <td class="auto-style12">
                            <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:auto; ">
                                <tr style="background-color: lightgoldenrodyellow; color: black">
                                    <th class="auto-style20">Start</th>
                                    <th class="auto-style20">End</th>
                                    <th class="auto-style21">Description</th>
                                </tr>

                                <tr>
                                    <td>@Html.ShortTime(Model.StartDateTime, "StartTimeDisp", false)                   </td>
                                    <td>@Html.ShortTime(Model.EndDateTime, "EndTimeDisp", false)                    </td>
                                    @*<td>@Html.DisplayFor(model => model.EventName) ----- @Html.DisplayFor(model => model.Aim)                  </td>*@
                                    <td> @Html.EventDescription(Model.EventName, "EventTimeDisp", Model.Aim) </td>

                                </tr>
                            </table>
                    </tr>
                </table>
            </td>
        @*</tr>
    </table>*@


    <table border="0">
        <tr>
            <td class="auto-style15">
                <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                    <tr style="background-color:threeddarkshadow;color:white"><th align="center"><b>Event Details</b></th></tr>
                    <tr>
                        <td class="auto-style14">
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        @Html.DisplayNameFor(model => model.EventName):
                                    </td>
                                    <td align="left">
                                        @Html.EditorFor(model => model.EventName)
                                        @Html.ValidationMessageFor(model => model.EventName)
                                    </td>
                                </tr>

                            </table>

                         
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" class="auto-style5" width="auto">
                                        @Html.DisplayNameFor(model => model.EventType):
                                    </td>
                                    <td align="left" width="auto">
                                        @Html.DropDownList("EventType", ViewData["ENames"] as SelectList)
                                        @Html.ValidationMessageFor(model => model.EventType)
                                    </td>
                                </tr>
                                <tr>
                                    <td id="OrganisationTitle"   class="auto-style5" width="auto">
                                        @Html.DisplayNameFor(model => model.Organisation):
                                    </td>
                                    <td width="auto">
                                        @Html.EditorFor(model => model.Organisation)
                                        @Html.ValidationMessageFor(model => model.Organisation)
                                    </td>

                                </tr>
                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">

                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.Location):
                                    </td>
                                    <td align="left">
                                        @*<input type="text" name="Location" list="Location" value=@Html.Raw('"')@Model.Location@Html.Raw('"')  style="width:100%;"  />*@
                                        @Html.EditorFor(model => model.Location)
                                        @Html.ValidationMessageFor(model => model.Location)
                                        <datalist id="Location">
                                            @foreach (var a in ViewData["LNames"] as SelectList)
                                            {
                                                <option value=@Html.Raw('"')@a.Text@Html.Raw('"')>@a.Text</option>
                                            }
                                        </datalist>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.NumOfPeople):
                                    </td>

                                    <td align="left">
                                        @Html.EditorFor(model => model.NumOfPeople)
                                        @Html.ValidationMessageFor(model => model.NumOfPeople)
                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.StaffContact):
                                    </td>

                                    <td align="left">
                                        <input id="StaffContactDataList" type="text" name="StaffContact" list="StaffContact" value=@Html.Raw('"')@Model.StaffContact@Html.Raw('"') style="width:100%" />
                                        <datalist data-autocompleteme='@Url.Action("getUsers","Access", null)' data-val="true" data-val-length="Please enter the user." data-val-length-max="500" id="StaffContact"></datalist>

                                        @Html.ValidationMessageFor(model => model.StaffContact)
                                        @*@Html.DropDownList("StaffContact", ViewData["ADNames"] as SelectList)
                                        @Html.ValidationMessageFor(model => model.StaffContact)*@
                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.Aim):
                                    </td>

                                    <td align="left">
                                        @Html.DropDownList("Aim", ViewData["ANames"] as SelectList)
                                        @Html.ValidationMessageFor(model => model.Aim)

                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: threedlightshadow;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.TargetAudience):
                                    </td>

                                    <td align="left">
                                        @Html.EditorFor(model => model.TargetAudience)
                                        @Html.ValidationMessageFor(model => model.TargetAudience)
                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.OrganisationContact):
                                    </td>

                                    <td align="left">
                                        @Html.EditorFor(model => model.OrganisationContact)
                                        @Html.ValidationMessageFor(model => model.OrganisationContact)
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td class="auto-style15">
                <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                    <tr style="background-color:threeddarkshadow;color:white;"><th align="center"><b>Additional info Details</b></th></tr>
                    <tr>
                        <td class="auto-style14">
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.Comments):
                                    </td>

                                    <td align="left">
                                        @Html.EditorFor(model => model.Comments)
                                        @Html.ValidationMessageFor(model => model.Comments)
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td class="auto-style15">
                <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                    <tr style="background-color:threeddarkshadow;color:white"><th align="center"><b>Event feedback</b></th></tr>
                    <tr>
                        <td class="auto-style14">
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5">
                                        @Html.DisplayNameFor(model => model.Feedback):
                                    </td>

                                    <td align="left">
                                        @Html.EditorFor(model => model.Feedback)
                                        @Html.ValidationMessageFor(model => model.Feedback)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td class="auto-style15">
                <table border="1" cellspacing="0" cellpadding="4" style="font-family: Arial; font-size: 10pt; background-color:whitesmoke; width:100%;">
                    <tr style="background-color:threeddarkshadow;color:white"><th align="center"><b>Attachments</b></th></tr>
                    <tr>
                        <td class="auto-style14">
                            <table border="0" style="font-family: Arial; font-size: 10pt; width: 100%; background-color: whitesmoke;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left">
                                        @Html.RichTextAreaFor("Attachments", Model.Attachments, false)
                                        @Html.ValidationMessageFor(model => model.Attachments)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    @section DocumentLog
{

        <h5 style="font-family: Arial; font-size: 10pt; width: 100%; padding: 4px; background-color: whitesmoke;">
            Record modified by @Model.DocumentModifiedBy on @Model.DocumentDateModified
        </h5>

        <h5 style="font-family: Arial; font-size: 10pt; width: 100%; padding: 4px; background-color: whitesmoke;">
            Record created by @Model.DocumentCreatedBy on @Model.DocumentDateCreated
        </h5>

    }

}

